<% include ../partials/header %>

	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">-1^(1/2) 2^3 sigma pi</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>
					<a href="/users/<%= user._id %>">
						<i class="material-icons left">dashboard</i>
						Home
					</a>
				</li>
				<li class="active">
					<a href="/users/<%= user._id %>/tests/new">
						<i class="material-icons left">assignment</i>
						Test
					</a>
				</li>
				<li>
					<a href="/logout">
						<i class="material-icons left">pause</i>
						Logout
					</a>
				</li>
			</ul>
		</div>
	</nav>

	



	<div class="container">
		<div class="row">
			<h1 class="col s6 offset-s3">New test page</h1>
		</div>
		<div class="row">
			<form action="/users/<%= user._id %>/tests" method="POST">
				<div class="row">
					<p class="range-field col s8"><input id="timeRange" type="range" min="4" max="180" required/></p>
					<div class="input-field col s4">
						<input id="time" class="validate" type="number" min="4" max="180" name="time" required>
						<label for="time" data-error="Time outside appropriate range">Time</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4">
						<select name="moduleName" id="modules" required>
							<option value="" disabled selected>Choose your module</option>
							<% for(var i=0;i<user.examBoard.modules.length;i++){ %>
								<option value="<%= user.examBoard.modules[i].name %>"><%= user.examBoard.modules[i].name %></option>
							<% } %>
						</select>
						<label>Module</label>
					</div>
					<div class="input-field col s6">
						<select multiple name="topics" id="topics" required disabled>
							<option value="" disabled selected>Choose your topics</option>
						</select>
						<label>Topics</label>
					</div>
					<div class="input-field col s2">
						<select name="settings" id="settings" required>
							<option value="" disabled>Choose your settings</option>
							<option value="easier">Easier</option>
							<option value="standard" selected>Standard</option>
							<option value="harder">Harder</option>
							<option value="custom">Custom</option>
						</select>
						<label>Settings</label>
					</div>
				</div>
				<div class="row">
						<div class="col s6">
							<div class="row">
								<input type="checkbox" id="timer" name="timer" checked="true"/><label for="timer">Show timer</label>
							</div>
							<div class="row">
								<input type="checkbox" id="topicTimer" name="topicTimer"/><label for="topicTimer">Timer per topic</label>
							</div>
						</div>
						<div class="col s6">
							<div class="row">
								<input type="checkbox" id="topicNames" name="topicNames" checked="true"/><label for="topicNames">Show question topic</label>
							</div>
							<div class="row">
								<input type="checkbox" id="questionLength" name="questionLength"/><label for="questionLength">Show number of parts in question</label>
							</div>
							<div class="row">
								<input type="checkbox" id="dynamicMarking" name="dynamicMarking"/><label for="dynamicMarking">Dynamic marking</label>
							</div>
						</div>
					</div>
				<div class="row">
					<button class="btn waves-effect waves-light" type="submit" name="action">Submit
						<i class="material-icons right">send</i>
					</button>
				</div>
			</form>
		</div>
		
	</div>

	<script>
		$(document).ready(function() {
			$("#modules").change(function(){
				var module = $(this).val();
				$("#topics").empty().append("<option value='' disabled selected>Choose your topics</option>");
				<% for(var i=0;i<user.examBoard.modules.length;i++){ %>
					if("<%= user.examBoard.modules[i].name %>" == module){
						<% for(var t=0;t<user.examBoard.modules[i].topics.length;t++){ %>
							$("#topics").append("<option value='<%= user.examBoard.modules[i].topics[t].name %>'><%= user.examBoard.modules[i].topics[t].name %></option>");
						<% } %>
					}
				<% } %>
				$("#topics").prop("disabled", false);
				$('select').material_select();
			});
			$("#topics").change(function(){
				$("#timeRange").attr("min",4 * $(this).val().length);
				$("#time").attr("min",4 * $(this).val().length);
				if($("#time").val() < (4 * $(this).val().length)){
					$("#time").val(4 * $(this).val().length);
				}
			});
			$("#settings").change(function(){
				if($(this).val() == "easier"){
					$("#timer").prop("checked", true);
					$("#topicTimer").prop("checked", true);
					$("#topicNames").prop("checked", true);
					$("#questionLength").prop("checked", true);
					$("#dynamicMarking").prop("checked", true);
				}else if($(this).val() == "standard"){
					$("#timer").prop("checked", true);
					$("#topicTimer").prop("checked", false);
					$("#topicNames").prop("checked", true);
					$("#questionLength").prop("checked", false);
					$("#dynamicMarking").prop("checked", false);
				}else if($(this).val() == "harder"){
					$("#timer").prop("checked", false);
					$("#topicTimer").prop("checked", false);
					$("#topicNames").prop("checked", false);
					$("#questionLength").prop("checked", false);
					$("#dynamicMarking").prop("checked", false);
				}
			});
			$("form > div:nth-child(3) input").change(function(){
				if(
					$("#timer").prop("checked") &&
					$("#topicTimer").prop("checked") &&
					$("#topicNames").prop("checked") &&
					$("#questionLength").prop("checked") &&
					$("#dynamicMarking").prop("checked")
				){
					$("#settings option[value='easier']").prop("selected", true);
				}else if(
					$("#timer").prop("checked") &&
					!$("#topicTimer").prop("checked") &&
					$("#topicNames").prop("checked") &&
					!$("#questionLength").prop("checked") &&
					!$("#dynamicMarking").prop("checked")
				){
					$("#settings option[value='standard']").prop("selected", true);
				}else if(
					!$("#timer").prop("checked") &&
					!$("#topicTimer").prop("checked") &&
					!$("#topicNames").prop("checked") &&
					!$("#questionLength").prop("checked") &&
					!$("#dynamicMarking").prop("checked")
				){
					$("#settings option[value='harder']").prop("selected", true);
				}else{
					$("#settings option[value='custom']").prop("selected", true);
				}
				$('select').material_select();
			});
		});
	</script>


<% include ../partials/footer %>