<% include ../partials/header %>


<h2>Output</h2>
<% var checked = 0 %>
<% for(var i = 0; i < data.markingData.numberOfTopics; i++){ %>

	<h3><%= data.markingData.topics[i].name %></h3>

	<% for(var t = 0; t < data.markingData.topics[i].numberOfQuestions; t++){ %>

		<img src="<%= data.markingData.topics[i].questions[t].content %>">
		<% for(var x = 0; x < data.markingData.topics[i].questions[t].numberOfParts; x++){ %>
			<% if(data.markingData.topics[i].questions[t].answers){ %>
				<% for(var e = 0; e < data.markingData.topics[i].questions[t].answers.length; e++){ %>
					<% if(data.markingData.topics[i].questions[t].answers[e].partNumber == x){ %>
						<% checked = 1 %>
						<% if(data.markingData.topics[i].questions[t].answers[e].startIndex == 0 && data.markingData.topics[i].questions[t].answers[e].endIndex == data.markingData.topics[i].questions[t].parts[x].length){ %>
							<p class="answer"><%= data.markingData.topics[i].questions[t].parts[x] %></p>					
						<% } else { %>
							<p><%= data.markingData.topics[i].questions[t].parts[x].slice(0,data.markingData.topics[i].questions[t].answers[e].startIndex) %><span class="answer"><%= data.markingData.topics[i].questions[t].parts[x].slice(data.markingData.topics[i].questions[t].answers[e].startIndex, data.markingData.topics[i].questions[t].answers[e].endIndex + 1) %><b>(<%= data.markingData.topics[i].questions[t].answers[e].mark %>)</b></span><%= data.markingData.topics[i].questions[t].parts[x].slice(data.markingData.topics[i].questions[t].answers[e].endIndex + 1) %></p>		
						<% } %>	
						<% break; %>					
					<% } %>
				<% } %>
			<% } %>
			<% if(checked == 0){ %>
				<p><%= data.markingData.topics[i].questions[t].parts[x] %></p>
			<% } %>
			
			<% checked = 0 %>
		<% } %>
	<% } %>
<% } %>

<style>
	.answer{
		background-color: green;
	}
</style>

<% include ../partials/footer %>

