<% include ../partials/header %>

<h1>Show test page</h1>

<script>
	var newInputs=[];
<% for(var i=0;i< testQuestions.length;i++){ %>
	
	var topicName = "<%= testQuestions[i].name %>";
	var newDiv = $("<div></div>").html("<h3>"+topicName+"</h3>")
	$("body").append(newDiv);

	newInputs.push([]);

	<% for(var t=0;t< testQuestions[i].questions.length;t++){ %>
		
		var src = "<%= testQuestions[i].questions[t].content %>";
		var newImg = $("<img>").attr("src",src);
		var newDiv = $("<div></div>").html(newImg);
		$("body > div:last").append(newDiv);

		
		newInputs[<%= i %>].push([]);

		var id = "topic<%= i %>question<%= t %>part"+0;
		var newP = $("<p></p>").html("<span id="+id+"></span>")
		$("body > div:last > div:last").append(newP);
		
		var inpId = "itopic<%= i %>question<%= t %>part"+0;
		var newTxtInp = $("<input>").attr({
			id:inpId,
			name:inpId,
			type:"text"
		});
		$("body > div:last > div:last").append(newTxtInp);
		

		newInputs[<%= i %>][<%= t %>][0] = MQ.MathField(document.getElementById("topic<%= i %>question<%= t %>part"+0), {
			handlers: {
				enter: function() {
					if(!(newInputs[<%= i %>][<%= t %>][1])){
						newInp(<%= i %>,<%= t %>,1);
					}
					else{
						newInputs[<%= i %>][<%= t %>][1].focus()	
					}
				},
				edit: function() {
					$("#itopic<%= i %>question<%= t %>part"+0).val(newInputs[<%= i %>][<%= t %>][0].latex());
				}
            }
        });

	<% } %> 
<% } %>
	function newInp(i,t,count)
	{
		var id = "topic"+i+"question"+t+"part"+count;
		var newP = $("<p></p>").html("<span id='"+id+"'></span>");
		var temp = count - 1;
		$("#itopic"+i+"question"+t+"part"+temp).after(newP);

		var inpId = "itopic"+i+"question"+t+"part"+count;
		var newTxtInp = $("<input>").attr({
			id:inpId,
			name:inpId,
			type:"text"
		});
		$("#topic"+i+"question"+t+"part"+count).after(newTxtInp);

		newInputs[i][t][count] = MQ.MathField(document.getElementById("topic"+i+"question"+t+"part"+count), {
			handlers: {
				enter: function() {
					if(!(newInputs[i][t][count+1])){
						newInp(i,t,(count+1));
					}
					else{
						newInputs[i][t][count+1].focus()	
					}
				},
				edit: function() {
					$("#"+inpId).val(newInputs[i][t][count].latex());
					if(!(newInputs[i][t][count].latex()) && !(newInputs[i][t][count+1])){
						$("#"+id).parent().remove();
						newInputs[i][t].splice(count,1);
						newInputs[i][t][count-1].focus();
					}
				}
			}
		});
		newInputs[i][t][count].focus();
	
	}
</script>

<% include ../partials/footer %>