<% include ../partials/header %>



<div class="container">
	<div class="row">
		<h1>Show test page</h1>
	</div>
	
	<div class="row">
	
	</div>
	<div class="row">
		<form action="/users/<%= testData.userID %>/tests/results" method="POST">
			<button class="btn waves-effect waves-light" type="submit" name="action">Submit
				<i class="material-icons right">send</i>
			</button>
		</form>
	</div>
</div>




<script>
	var newInputs = [];

	var examBoard = $("<input>").attr({
		name: "examBoard",
		type: "text",
		value: "<%= testData.examBoard %>",
		readonly: "true"
	});
	$("form").append(examBoard);

	var module = $("<input>").attr({
		name: "module",
		type: "text",
		value: "<%= testData.module %>",
		readonly: "true"
	});
	$("form").append(module);

	var numberOfTopics = $("<input>").attr({
		name: "numberOfTopics",
		type: "text",
		value: "<%= testData.topics.length %>",
		readonly: "true"
	});
	$("form").append(numberOfTopics);

<% for(var i = 0;i < testData.topics.length;i++){ %>
	
	var newTopic = $("<input>").attr({
		name: "topic<%= i %>",
		type:  "text",
		value: "<%= testData.topics[i].name %>",
		readonly: "true"
	});
	$("form").append(newTopic);

	newInputs.push([]);

	var numberOfQuestions = $("<input>").attr({
		name: "topic<%= i %>numberOfQuestions",
		type: "text",
		value: "<%= testData.topics[i].questions.length %>",
		readonly: "true"
	});
	$("form").append(numberOfQuestions);

	$("body .container > div:nth-child(2)").prepend("<div class='row'><h3><%= testData.topics[i].name %></h3></div>");

	<% for(var t=0;t< testData.topics[i].questions.length;t++){ %>

		var newQuestion = $("<input>").attr({
			name:"topic<%= i %>question<%= t %>",
			type:"text",
			value:"<%= testData.topics[i].questions[t]._id %>",
			readonly: "true"
		});
		$("form").append(newQuestion);

		
		newInputs[<%= i %>].push([]);

		var numberOfParts = $("<input>").attr({
			id: "topic<%= i %>question<%= t %>numberOfParts",
			name: "topic<%= i %>question<%= t %>numberOfParts",
			type: "number",
			value: "1",
			readonly: "true"
		});
		$("form").append(numberOfParts);
		
		var newTxtInp = $("<input>").attr({
			id:"itopic<%= i %>question<%= t %>part0",
			name:"itopic<%= i %>question<%= t %>part0",
			type:"text",
			readonly: "true"
		});
		$("form").append(newTxtInp);

		$("body .container > div:nth-child(2) > div:first").append("<div><img class='col s6 offset-s3' src='<%= testData.topics[i].questions[t].content %>'></div>");

		$("body .container > div:nth-child(2) > div:first > div:last").append("<div class='col s8 offset-s2'><p><span id='topic<%= i %>question<%= t %>part0'></span></p></div>");

		newInputs[<%= i %>][<%= t %>][0] = MQ.MathField(document.getElementById("topic<%= i %>question<%= t %>part0"), {
			handlers: {
				enter: function() {
					if(newInputs[<%= i %>][<%= t %>].length == 1)
					{
						$("#topic<%= i %>question<%= t %>numberOfParts").val(2);
						newInp(<%= i %>,<%= t %>,1);
					}
					else
					{
						newInputs[<%= i %>][<%= t %>][1].focus();
					}
				},
				edit: function() {
					$("#itopic<%= i %>question<%= t %>part0").val(newInputs[<%= i %>][<%= t %>][0].latex());
				}
            }
        });

	<% } %> 
<% } %>
	function newInp(i,t,count)
	{
		
		var id = "topic"+i+"question"+t+"part"+count;
		var newP = $("<p></p>").html("<span id='"+id+"'></span>");
		var temp = count-1;
		$("#topic"+i+"question"+t+"part"+temp).after(newP);

		var inpId = "itopic"+i+"question"+t+"part"+count;
		var lInpId = "itopic"+i+"question"+t+"part"+(count-1);
		var newTxtInp = $("<input>").attr({
			id:inpId,
			name:inpId,
			type:"text",
			readonly: "true"
		});
		$("#"+lInpId).after(newTxtInp);

		newInputs[i][t][count] = MQ.MathField(document.getElementById("topic"+i+"question"+t+"part"+count), {
			handlers: {
				enter: function() {
					if(newInputs[i][t].length == count+1 && newInputs[i][t].length <= 60){
						$("#topic"+i+"question"+t+"numberOfParts").val(function( i, val ) {
							return +val+1;
						});
						newInp(i,t,(count+1));
					}
					else{
						newInputs[i][t][count+1].focus()	
					}
				},
				edit: function() {
					$("#itopic"+i+"question"+t+"part"+count).val(newInputs[i][t][count].latex());
					if(!(newInputs[i][t][count].latex()) && !(newInputs[i][t][count+1])){
						$("#topic"+i+"question"+t+"part"+count).parent().remove();
						$("#itopic"+i+"question"+t+"part"+count).remove();
						$("#topic"+i+"question"+t+"numberOfParts").val(function( i, val ) {
							return +val-1;
						});
						newInputs[i][t].splice(count,1);
						newInputs[i][t][(count-1)].focus();
					}
				}
			}
		});
		newInputs[i][t][count].focus();
	
	}
</script>

<style>
	p span{
		width:100%;
		font-size: 100pt;
	}
</style>

<% include ../partials/footer %>