<% include ../partials/header %>

<h1>Show test page</h1>


<form action="/users/<%= testData.userID %>/tests/edit" method="POST">

	<button class="btn waves-effect waves-light" type="submit" name="action">Submit
		<i class="material-icons right">send</i>
	</button>
</form>

<script>
	var newInputs = [];

	var examBoard = $("<input>").attr({
		name: "examBoard",
		type: "text",
		value: "<%= testData.examBoard %>",
		readonly: "true"
	});
	$("form button").before(examBoard);

	var module = $("<input>").attr({
		name: "module",
		type: "text",
		value: "<%= testData.module %>",
		readonly: "true"
	});
	$("form button").before(module);

	var numberOfTopics = $("<input>").attr({
		name: "numberOfTopics",
		type: "text",
		value: "<%= testData.topics.length %>",
		readonly: "true"
	});
	$("form button").before(numberOfTopics);

<% for(var i = 0;i < testData.topics.length;i++){ %>
	
	var newDiv = $("<div></div>").html("<h3><%= testData.topics[i].name %></h3>")
	$("body").append(newDiv);
	
	var newTopic = $("<input>").attr({
		name: "topic<%= i %>",
		type:  "text",
		value: "<%= testData.topics[i].name %>",
		readonly: "true"
	});
	$("form button").before(newTopic);

	newInputs.push([]);

	var numberOfQuestions = $("<input>").attr({
		name: "topic<%= i %>numberOfQuestions",
		type: "text",
		value: "<%= testData.topics[i].questions.length %>",
		readonly: "true"
	});
	$("form button").before(numberOfQuestions);

	<% for(var t=0;t< testData.topics[i].questions.length;t++){ %>
		
		var newImg = $("<img>").attr("src","<%= testData.topics[i].questions[t].content %>");
		var newDiv = $("<div></div>").html(newImg);
		$("body > div:last").append(newDiv);

		var newQuestion = $("<input>").attr({
			name:"topic<%= i %>question<%= t %>",
			type:"text",
			value:"<%= testData.topics[i].questions[t]._id %>",
			readonly: "true"
		});
		$("form button").before(newQuestion);
		
		newInputs[<%= i %>].push([]);

		var numberOfParts = $("<input>").attr({
			id: "topic<%= i %>question<%= t %>numberOfParts",
			name: "topic<%= i %>question<%= t %>numberOfParts",
			type: "number",
			value: "1",
			readonly: "true"
		});
		$("form button").before(numberOfParts);

		var newP = $("<p></p>").html("<span id='topic<%= i %>question<%= t %>part0'></span>");
		$("body > div:last > div:last").append(newP);
		
		var newTxtInp = $("<input>").attr({
			id:"itopic<%= i %>question<%= t %>part0",
			name:"itopic<%= i %>question<%= t %>part0",
			type:"text",
			readonly: "true"
		});
		$("form button").before(newTxtInp);

		newInputs[<%= i %>][<%= t %>][0] = MQ.MathField(document.getElementById("topic<%= i %>question<%= t %>part0"), {
			handlers: {
				enter: function() {
					if(newInputs[<%= i %>][<%= t %>].length == 1)
					{
						$("#topic<%= i %>question<%= t %>numberOfParts").val(2);
						newInp(<%= i %>,<%= t %>,1);
					}
					else
					{
						newInputs[<%= i %>][<%= t %>][1].focus();
					}
				},
				edit: function() {
					$("#itopic<%= i %>question<%= t %>part0").val(newInputs[<%= i %>][<%= t %>][0].latex());
				}
            }
        });

	<% } %> 
<% } %>
	function newInp(i,t,count)
	{
		
		var id = "topic"+i+"question"+t+"part"+count;
		var newP = $("<p></p>").html("<span id='"+id+"'></span>");
		var temp = count-1;
		$("#topic"+i+"question"+t+"part"+temp).after(newP);

		var inpName = "part"+count;
		var inpId = "itopic"+i+"question"+t+"part"+count;
		var lInpId = "itopic"+i+"question"+t+"part"+(count-1);
		var newTxtInp = $("<input>").attr({
			id:inpId,
			name:inpName,
			type:"text",
			readonly: "true"
		});
		$("#"+lInpId).after(newTxtInp);

		newInputs[i][t][count] = MQ.MathField(document.getElementById("topic"+i+"question"+t+"part"+count), {
			handlers: {
				enter: function() {
					if(newInputs[i][t].length == count+1 && newInputs[i][t].length <= 60){
						$("#topic"+i+"question"+t+"numberOfParts").val(function( i, val ) {
							return +val+1;
						});
						newInp(i,t,(count+1));
					}
					else{
						newInputs[i][t][count+1].focus()	
					}
				},
				edit: function() {
					$("#itopic"+i+"question"+t+"part"+count).val(newInputs[i][t][count].latex());
					if(!(newInputs[i][t][count].latex()) && !(newInputs[i][t][count+1])){
						$("#topic"+i+"question"+t+"part"+count).parent().remove();
						$("#itopic"+i+"question"+t+"part"+count).remove();
						$("#topic"+i+"question"+t+"numberOfParts").val(function( i, val ) {
							return +val-1;
						});
						newInputs[i][t].splice(count,1);
						newInputs[i][t][(count-1)].focus();
					}
				}
			}
		});
		newInputs[i][t][count].focus();
	
	}
</script>

<% include ../partials/footer %>