<% include ../partials/header %>

<h1>Show test page</h1>


<form action="/users/:id/tests/new" method="POST">

	<button class="btn waves-effect waves-light" type="submit" name="action">Submit
		<i class="material-icons right">send</i>
	</button>
</form>

<script>
	var newInputs=[];
<% for(var i=0;i< testQuestions.length;i++){ %>
	
	var topicName = "<%= testQuestions[i].name %>";
	var newDiv = $("<div></div>").html("<h3>"+topicName+"</h3>")
	$("body").append(newDiv);

	newInputs.push([]);

	<% for(var t=0;t< testQuestions[i].questions.length;t++){ %>
		
		var src = "<%= testQuestions[i].questions[t].content %>";
		var newImg = $("<img>").attr("src",src);
		var newDiv = $("<div></div>").html(newImg);
		$("body > div:last").append(newDiv);

		
		newInputs[<%= i %>].push([]);

		var id = "topic<%= i %>question<%= t %>part0";
		var newP = $("<p></p>").html("<span id="+id+"></span>")
		$("body > div:last > div:last").append(newP);
		
		var inpId = "itopic<%= i %>question<%= t %>part0";
		var newTxtInp = $("<input>").attr({
			id:inpId,
			name:inpId,
			type:"text"
		});
		$("form button").before(newTxtInp);
		

		newInputs[<%= i %>][<%= t %>][0] = MQ.MathField(document.getElementById("topic<%= i %>question<%= t %>part0"), {
			handlers: {
				enter: function() {
					alert("hit this i = <%= i %> t = <%= t %>");
					if(newInputs[<%= i %>][<%= t %>].length == 1){
						alert("check this");
						newInp(<%= i %>,<%= t %>,1);
					}
					else{
						newInputs[<%= i %>][<%= t %>][1].focus()	
					}
				},
				edit: function() {
					$("#itopic<%= i %>question<%= t %>part0").val(newInputs[<%= i %>][<%= t %>][0].latex());
				}
            }
        });

	<% } %> 
<% } %>
	function newInp(i,t,count)
	{
		var id = "topic"+i+"question"+t+"part"+count;
		var newP = $("<p></p>").html("<span id='"+id+"'></span>");
		var temp = count-1;
		$("#topic"+i+"question"+t+"part"+temp).after(newP);

		var inpId = "itopic"+i+"question"+t+"part"+count;
		var newTxtInp = $("<input>").attr({
			id:inpId,
			name:inpId,
			type:"text"
		});
		$("form button").before(newTxtInp);

		alert("hit this BOI");

		newInputs[i][t][count] = MQ.MathField(document.getElementById("topic"+i+"question"+t+"part"+count), {
			handlers: {
				enter: function() {
					alert("hit this");
					if(newInputs[i][t].length == count+1){
						alert("check this");
						newInp(i,t,(count+1));
					}
					else{
						newInputs[i][t][count+1].focus()	
					}
				},
				edit: function() {
					$("#itopic"+i+"question"+t+"part"+count).val(newInputs[i][t][count].latex());
					if(!(newInputs[i][t][count].latex()) && !(newInputs[i][t][count+1])){
						$("#topic"+i+"question"+t+"part"+count).parent().remove();
						$("#itopic"+i+"question"+t+"part"+count).remove();
						newInputs[i][t].splice(count,1);
						newInputs[i][t][(count-1)].focus();
					}
				}
			}
		});
		newInputs[i][t][count].focus();
	
	}
</script>

<% include ../partials/footer %>