<% include ../partials/header %>

<div class="row">

	<div id="timeHolder" class="col s2 z-depth-2">
		<h3>timer</h3>
		<hr>
	</div>
	<div id="inputPad" class="col s6 offset-s3 z-depth-2">
		<h4>Input Pad</h4>
		<hr>
		<div class="row">
			<div class="col s1 offset-s2"><span id="inpPad00">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad01">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad02">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad03">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad04">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad05">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad06">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad07">\sqrt{x}</span></div>
		</div>
		<div class="row">
			<div class="col s1 offset-s2"><span id="inpPad10">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad11">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad12">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad13">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad14">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad15">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad16">\sqrt{x}</span></div>
			<div class="col s1"><span id="inpPad17">\sqrt{x}</span></div>
		</div>
	</div>

	<div class="col s8 offset-s2">
		<div class="row">
			<h1>Show test page</h1>
		</div>
		<div class="row">
		</div>
		<div class="row">
			<form action="/users/<%= testData.userID %>/tests/results" method="POST">
				<div class="col s6 offset-s3 center-align">
					<div class="row">
						<input type="checkbox" id="endTest" required/>
						<label for="endTest">Submission checkbox</label>
					</div>
					<div class="row">
						<button class="btn waves-effect waves-light modal-trigger" type="submit" name="action">Submit
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
				<div class="hide">
				</div>
			</form>
		</div>
	</div>
</div>



<script>
	$(document).ready(function() {
        
		for(var i = 0;i < $("#inputPad > div").length;i++){
			for(var t = 0;t < $("#inputPad div div").length / $("#inputPad > div").length;t++){
				MQ.StaticMath(document.getElementById("inpPad" + i + t));
			}
		}

		$("form > div:last").append("<input id='testData' name='testData' type='text' readonly: ''true'>");
		
		var testData = {
			examBoard: "<%= testData.examBoard %>",
			module: "<%= testData.module %>",
            topics: []
		};


        $("#endTest").change(() => {
            $("#testData").val(JSON.stringify(testData));
            setTimeout(() => {
                $("#endTest").prop("checked", false);
            }, 5000);
        });

		var topicsHolder = <%- JSON.stringify(testData.topics) %>;

		<% if(testData.options.topicTimer){ %>
			$("body > .row > div:nth-child(1)").append("<ul class='section table-of-contents'></ul>");
		<% } %>

		var newInputs = [];
		var questionsMethods = [];
		var partPositionings = [];

	<% for(var i = 0;i < testData.topics.length;i++){ %>
	
		partPositionings.push([]);
		questionsMethods.push([]);
		newInputs.push([]);

		testData.topics.push({name: "<%= testData.topics[i]._id %>", questions: []});

		$("body > .row > div:nth-child(3) > div:nth-child(2)").append("<div id='topic<%= i %>OnScreen' class='row section scrollspy'><% if(testData.options.topicNames){ %><h3><%= testData.topics[i].name %></h3><% } %></div>");

		<% if(testData.options.topicTimer){ %>
			$("body > .row > div:nth-child(1) > ul").append("<li><a id='topicTimer<%= i %>' href='#topic<%= i %>OnScreen'><h5>topicTimer(<%= i %>)</h5></a></li>");
		<% } %>
		
		<% for(var t=0;t< testData.topics[i].questions.length;t++){ %>

			partPositionings[<%= i %>].push([""]);
			questionsMethods[<%= i %>].push(-1);
			
			testData.topics[<%= i %>].questions.push({id: "<%= testData.topics[i].questions[t]._id %>", parts: [""]});
		
			newInputs[<%= i %>].push([]);

			$("#topic<%= i %>OnScreen").append("<div class='row'><div id='topic<%= i %>Question<%= t %>OnScreen' class='questionInfo col s6 offset-s3'><img src='<%= testData.topics[i].questions[t].content %>'><% if(testData.options.questionLength){ %><p>Number of markable parts:<% for(var u=0;u<testData.topics[i].questions[t].methods.length - 2;u++){ %><%= testData.topics[i].questions[t].methods[u].length %>,<% } %> <%= testData.topics[i].questions[t].methods[testData.topics[i].questions[t].methods.length - 2].length %> and <%= testData.topics[i].questions[t].methods[testData.topics[i].questions[t].methods.length - 1].length %></p><% } %></div><div class='col s8 offset-s2'><p id='topic<%= i %>question<%= t %>part0'><span id='topic<%= i %>question<%= t %>part0span'></span></p></div><hr class='col s8 offset-s2'></div>");
			
			newInputs[<%= i %>][<%= t %>][0] = MQ.MathField(document.getElementById("topic<%= i %>question<%= t %>part0span"), {
				handlers: {
					enter: function() {
						if(newInputs[<%= i %>][<%= t %>].length == 1)
						{
							newInp(<%= i %>,<%= t %>,1);
						}
						else
						{
							newInputs[<%= i %>][<%= t %>][1].focus();
						}
					},
					edit: function() {
						var latexHolder = newInputs[<%= i %>][<%= t %>][0].latex();
						testData.topics[<%= i %>].questions[<%= t %>].parts = latexHolder;
                        //---------------------checks if contains answer, if so unchecks this input as containing an answer---------------------
                        if ($("#topic<%= i %>question<%= t %>part0 > span:nth-child(2)").length) {//if the element denoting this as correct exists
                            $("#topic<%= i %>question<%= t %>part0 > span:nth-child(2)").remove();
                            for (var j = 0; j < partPositionings[<%= i %>][<%= t %>].length; j++) {//loop through till finding part belonging to this input
                                if (partPositionings[<%= i %>][<%= t %>][j].pos == 0) {
                                    partPositionings[<%= i %>][<%= t %>].splice(j, j + 1);
                                    break;
                                }
                            }
                            if (!partPositionings[<%= i %>][<%= t %>][0]){//if partPositionings[i][t][0] is empty then partPositionings[i][t] is empty
                                questionsMethods[<%= i %>][<%= t %>] = -1;
                            }
                        }
                        //----------------------------------------------------------------------------------------------------------------------
						var methodsHolder = topicsHolder[<%= i %>].questions[<%= t %>].methods;

                        if (questionsMethods[<%= i %>][<%= t %>] != -1){//if method already existys for question
                            methodsHolder = methodsHolder[questionsMethods[<%= i %>][<%= t %>]];//select method used in this question

							markedPartLabel0:
							for(var q = 0;q < methodsHolder.length;q++){//looping through parts in question
								checkingMethodPartLabel:
								for(var u = 0;u < latexHolder.length;u++){//moving front pointer
									for(var h = latexHolder.length;h > 0;h--){//moving back pointer
                                        if (latexHolder.slice(u, h) == methodsHolder[q].content) {//if substring of user answer = methodsHolder[q].content
											for(var j=0;j<partPositionings[<%= i %>][<%= t %>].length;j++){
                                                if (partPositionings[<%= i %>][<%= t %>][j].pos > 0 && partPositionings[<%= i %>][<%= t %>][j].part < q || partPositionings[<%= i %>][<%= t %>][j].part == q){
                                                    console.log("Answer already exists or is out of order");
                                                    break checkingMethodPartLabel;
												}
											}
											console.log("Found answer:(<" + latexHolder.slice(u,h) + "> : <" + methodsHolder[q].content + ">)");
											$("#topic<%= i %>question<%= t %>part0span").after("<span>" + methodsHolder[q].mark + "<i class='material-icons'>check</i></span>");
											partPositionings[<%= i %>][<%= t %>].push({pos: 0,part: q});
											break markedPartLabel0;
										}
									}
								}
							}
						}else{
							markedPartLabel1:
							for(var p = 0;p < methodsHolder.length;p++){
								for(var q = 0;q < methodsHolder[p].length;q++){
									for(var u = 0;u < latexHolder.length;u++){
										for(var h = latexHolder.length;h > 0;h--){
											if(latexHolder.slice(u,h) == methodsHolder[p][q].content){
												console.log("Found answer:(<" + latexHolder.slice(u,h) + "> : <" + methodsHolder[p][q].content + ">)");
												$("#topic<%= i %>question<%= t %>part0span").after("<span>" + methodsHolder[p][q].mark + "<i class='material-icons'>check</i></span>");
												partPositionings[<%= i %>][<%= t %>].push({pos: 0,part: q});
												questionsMethods[<%= i %>][<%= t %>] = p;
												break markedPartLabel1;
											}
										}
									}
								}
							}	
						}
					}
				}
			});
		<% } %> 
	<% } %>
		

		<% if(testData.options.topicTimer){ %>

			var timeLeft = [{hrs:0,mins:0,secs:0}];
			<% for(var i = 1;i < testData.topics.length + 1;i++){ %>
				timeLeft.push({hrs:0,mins:0,secs:0});
				<% for(var t = 0;t < testData.topics[i - 1].questions.length;t++){ %>
					timeLeft[<%= i %>].mins += <%= testData.topics[i - 1].questions[t].mark %>;
					if(timeLeft[<%= i %>].mins >= 60){
						timeLeft[<%= i %>].mins -= 60;
						timeLeft[<%= i %>].hrs++;
					}
				<% } %>
				$("#topicTimer" + (<%= i %> - 1) + "> h5").text(timeLeft[<%= i %>].hrs + ":" + timeLeft[<%= i %>].mins + ":" + timeLeft[<%= i %>].secs);
				timeLeft[0].mins += timeLeft[<%= i %>].mins;
				if(timeLeft[0].mins >= 60){
					timeLeft[0].mins -= 60;
					timeLeft[0].hrs++;
				}
			<% } %>
			$("#timeHolder > h3").text(timeLeft[0].hrs + ":" + timeLeft[0].mins + ":" + timeLeft[0].secs);
			//------------------------------------------------------------------------------------------------------------------------
			var timer = setInterval(() => {
				for(var i=1;i<<%= testData.topics.length %> + 1;i++){
					if($("#topicTimer" + (i - 1)).hasClass("active")){

						if(timeLeft[i].secs == 0){
							timeLeft[i].secs = 59;
							if(timeLeft[i].mins == 0){
								timeLeft[i].mins = 59;
								timeLeft[i].hrs--;
							}else{
								timeLeft[i].mins--;
							}
						}else{
							timeLeft[i].secs--;
						}
						$("#topicTimer" + (i-1) + "> h5").text(timeLeft[i].hrs + ":" + timeLeft[i].mins + ":" + timeLeft[i].secs);

						if(timeLeft[0].secs == 0){
							timeLeft[0].secs = 59;
							if(timeLeft[0].mins == 0){
								timeLeft[0].mins = 59;
								timeLeft[0].hrs--;
							}else{
								timeLeft[0].mins--;
							}
						}else{
							timeLeft[0].secs--;
						}
						$("#timeHolder > h3").text(timeLeft[0].hrs + ":" + timeLeft[0].mins + ":" + timeLeft[0].secs);
					}
				}
			}, 1000);
			//------------------------------------------------------------------------------------------------------------------------
		<% }else if(testData.options.timer){ %>

			var timeLeft = {hrs:0,mins:0,secs:0};
			<% for(var i = 0;i < testData.topics.length;i++){ %>
				<% for(var t = 0;t < testData.topics[i].questions.length;t++){ %>
					timeLeft.mins += <%= testData.topics[i].questions[t].mark %>;
                    if (timeLeft.mins >= 60) {
                        timeLeft.mins -= 60;
                        timeLeft.hrs++;
                    }
				<% } %>
			<% } %>
			$("#timeHolder > h3").text(timeLeft.hrs + ":" + timeLeft.mins + ":" + timeLeft.secs);
			//------------------------------------------------------------------------------------------------------------------------
            var timer = setInterval(() => {
                if (timeLeft.secs == 0) {
                    timeLeft.secs = 59;
                    if (timeLeft.mins == 0) {
                        timeLeft.mins = 59;
                        timeLeft.hrs--;
                    } else {
                        timeLeft.mins--;
                    }
                } else {
                    timeLeft.secs--;
                }
                $("#timeHolder > h3").text(timeLeft.hrs + ":" + timeLeft.mins + ":" + timeLeft.secs);
            }, 1000);
			//------------------------------------------------------------------------------------------------------------------------
		<% } %>

		$('body').scroll(function() { 
			$('#timeHolder').css('top', $(this).scrollTop());
		});
		$('.scrollspy').scrollSpy();
	
		function newInp(i,t,count)
		{
			$("#topic" + i + "question" + t + "part" + (count - 1)).after("<p id='topic" + i + "question" + t + "part" + count + "'><span id='topic" + i + "question" + t + "part" + count + "span'></span></p>");
            testData.topics[i].questions[t].parts.push("");

			newInputs[i][t][count] = MQ.MathField(document.getElementById("topic" + i + "question" + t + "part" + count + "span"), {
				handlers: {
					enter: function() {
                        if (newInputs[i][t].length == count + 1 && newInputs[i][t].length <= 60) {
                            newInp(i, t, (count + 1));
                        }
                        else {
                            newInputs[i][t][count + 1].focus()
                        }
					},
					edit: function() {
						var latexHolder = newInputs[i][t][count].latex();
                        testData.topics[i].questions[t].parts[count] = latexHolder;

                        //---------------------checks if contains answer, if so unchecks this input as containing an answer---------------------
                        if ($("#topic" + i + "question" + t + "part" + count + " > span:nth-child(2)").length) {//if the element denoting this as correct exists
                            $("#topic" + i + "question" + t + "part" + count + " > span:nth-child(2)").remove();
                            for (var j = 0; j < partPositionings[i][t].length; j++) {//loop through till finding part belonging to this input
                                if (partPositionings[i][t][j].pos == count) {
                                    partPositionings[i][t].splice(j, j + 1);
                                    break;
                                }
                            }
                            if (!partPositionings[i][t][0]) {//if partPositionings[i][t][0] is empty then partPositionings[i][t] is empty
                                questionsMethods[i][t] = -1;
                            }
                        }
                        //----------------------------------------------------------------------------------------------------------------------
						var methodsHolder = topicsHolder[i].questions[t].methods;

                        if (questionsMethods[i][t] != -1) {
                            methodsHolder = methodsHolder[questionsMethods[i][t]];
                            markedPartLabel0:
                            for (var q = 0; q < methodsHolder.length; q++) {
                                checkingMethodPartLabel:
                                for (var u = 0; u < latexHolder.length; u++) {
                                    for (var h = latexHolder.length; h > 0; h--) {
                                        if (latexHolder.slice(u, h) == methodsHolder[q].content) {
                                            for (var j = 0; j < partPositionings[i][t].length; j++) {
                                                console.log("(" + partPositionings[i][t][j].part + " : " + q + ")");
                                                if (partPositionings[i][t][j].pos > count && partPositionings[i][t][j].part < q || partPositionings[i][t][j].pos < count && partPositionings[i][t][j].part > q || partPositionings[i][t][j].part == q) {
                                                    console.log("Answer already exists or is out of order");
                                                    break checkingMethodPartLabel;
                                                }
                                            }
                                            console.log("Found answer:(<" + latexHolder.slice(u, h) + "> : <" + methodsHolder[q].content + ">)");
                                            $("#topic" + i + "question" + t + "part" + count + "span").after("<span>" + methodsHolder[q].mark + "<i class='material-icons'>check</i></span>");
                                            partPositionings[i][t].push({ pos: count, part: q });
                                            break markedPartLabel0;
                                        }
                                    }
                                }
                            }
                        } else {
                            markedPartLabel1:
                            for (var p = 0; p < methodsHolder.length; p++) {
                                for (var q = 0; q < methodsHolder[p].length; q++) {
                                    for (var u = 0; u < latexHolder.length; u++) {
                                        for (var h = latexHolder.length; h > 0; h--) {
                                            if (latexHolder.slice(u, h) == methodsHolder[p][q].content) {
                                                console.log("Found answer:(<" + latexHolder.slice(u, h) + "> : <" + methodsHolder[p][q].content + ">)");
                                                $("#topic" + i + "question" + t + "part" + count + "span").after("<span>" + methodsHolder[p][q].mark + "<i class='material-icons'>check</i></span>");
                                                partPositionings[i][t].push({ pos: count, part: q });
                                                questionsMethods[i][t] = p;
                                                break markedPartLabel1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        if (!(newInputs[i][t][count].latex() || newInputs[i][t][count + 1])) {//if input is empty and there is not a next input, then remove current input
                            $("#topic" + i + "question" + t + "part" + count).remove();
                            testData.topics[i].questions[t].parts.splice(count, 1);
                            newInputs[i][t].splice(count, 1);
                            newInputs[i][t][count - 1].focus();
                        }
					}
				}
			});
			newInputs[i][t][count].focus();//focus on newly created input
		}
		
	});
</script>

<style>
	body {
		margin-bottom: 12em;
	}
	img{
		width:100%;
		height:100%;
	}
	h1 {
		text-align:center;
	}
	body > .row > div:nth-child(3) h3 {
		text-align:center;
	}
	#timeHolder {
		position:fixed;
	}
	#inputPad{
		position: fixed;
		bottom: 0;
		background-color:white;
	}
	.highlighted{
		background-color: #d3e4ff;
	}
	.table-of-contents h6{
	   margin:0;
	}
	.table-of-contents h5{
	   margin:0;
	}
	.table-of-contents a{
	   margin:2%;
	}
	.questionInfo{
		background-color: #c8cace;
	}
</style>

<% include ../partials/footer %>