<% include ./partials/header %>

<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo"><span>-1^(1/2) 2^3 sigma pi</span></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li class="active">
				<a href="/users/<%= user._id %>">
					<i class="material-icons left">dashboard</i>
					<span>Home</span>
				</a>
			</li>
			<li>
				<a href="/users/<%= user._id %>/tests/new">
					<i class="material-icons left">assignment</i>
					<span>Test</span>
				</a>
			</li>
			<li>
				<a href="/logout">
					<i class="material-icons left">pause</i>
					<span>Logout</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row">
		<% if(user.examBoard){ %>
			<h2>Examboard:<%=user.examBoard.name%></h2>
			Progress:<%=user.examBoard.progress%>
			
			<div id="examboardChart"></div>

			<ul id="modules" class="tabs">
			<% for(var i=0;i<user.examBoard.modules.length;i++){ %>
				<li class="tab col s<%=Math.floor(12/user.examBoard.modules.length)%>"><a href="#module-<%=user.examBoard.modules[i].name%>"><%=user.examBoard.modules[i].name%></a></li>
			<% } %>
			</ul>
			<% for(var i=0;i<user.examBoard.modules.length;i++){ %>
				<div id="module-<%=user.examBoard.modules[i].name%>" class="col s12">
				<h4><%=user.examBoard.modules[i].name%></h4>
				<% for(var t=0;t<user.examBoard.modules[i].topics.length;t++){ %>
					<h5><%=user.examBoard.modules[i].topics[t].name%></h5>
					Progress:<%=user.examBoard.modules[i].topics[t].progress%>
				<% } %>
				</div>
			<% } %>
		<% } %>
	</div>
</div>



<style>
		html{
			background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/5ywk0LA/abstract-polygonal-geometric-surface-loop-1a-clean-soft-low-poly-motion-background-of-shifting-pure-bright-white-grey-triangles-seamless-loop-4k-uhd-fullhd_se6csy-4l_thumbnail-full01.png");
			background-size:100% 100%;
            background-repeat: no-repeat;
			height:100%;
			width:100%;
		}
		img{
			max-width: 100%;
			max-height: 100%;
		}
		nav i{
			color: black;
		}
		nav a span{
			color: black;
		}
		.nav-wrapper{
			background-color: white;
		}
		brand-logo span{
			color: black;
		}
</style>

	<% if(user.examBoard){ %>
		<% var modulesAverages = []; %>
		<% var examboardAverages = []; %>
		<% var modulesMinResultsLength = 0; %>
		<% var topicsMinResultsLengths = []; %>
		<% for(var i=0;i<user.examBoard.modules.length;i++){ %>
		
			<% topicsMinResultsLengths.push(user.examBoard.modules[i].topics[0].results.length); %>
			<% for(var t=1;t<user.examBoard.modules[i].topics.length;t++){ %>
				<% if(user.examBoard.modules[i].topics[t].results.length < topicsMinResultsLengths[i]){ %>
					<%  topicsMinResultsLengths[i] = user.examBoard.modules[i].topics[t].results.length %>
				<% } %>
			<% } %>

			<% modulesAverages.push([]); %>
			<% for(var t=0;t<topicsMinResultsLengths;t++){ %>
				<% modulesAverages[i][t].push(0); %>
				<% for(var q=0;q<user.examBoard.modules[i].topics.length;q++){ %>
					<% modulesAverages[i][t] += user.examBoard.modules[i].topics[q].results[t]; %>		
				<% } %>
				<% modulesAverages[i][t] = modulesAverages[i] / user.examBoard.modules[i].topics.length; %>
			<% } %>

		
			<% if(modulesAverages[i].length < modulesMinResultsLength){ %>
				<%  modulesMinResultsLength = modulesAverages[i].length %>
			<% } %>

		<% } %>

		<% for(var i=0;i<modulesMinResultsLength;i++){ %>
			<% examboardAverages.push(0); %>
			<% for(var t=0;t<modulesAverages.length;t++){ %>
				<% examboardAverages[i] += modulesAverages[t][i]; %>			
			<% } %>
			<% examboardAverages[i] = examboardAverages[i] / user.examBoard.modules.length; %>
		<% } %>
		<script>
	
			google.charts.load('current', {packages: ['corechart', 'line']});
			google.charts.setOnLoadCallback(drawBackgroundColor);

			function drawBackgroundColor() {
				  var data = new google.visualization.DataTable();
				  data.addColumn('number', 'X');
				  data.addColumn('number', 'Dogs');
		  

				  data.addRows([
			
					<% for(var i=0;i < examboardAverages.length - 1;i++){ %>
						[ <%= i %> , <%= examboardAverages[i] %> ],
					<% } %>
					[ <%= examboardAverages.length %> , <%= examboardAverages[examboardAverages.length] %> ]
				  ]);
		

				  var options = {
					hAxis: {
					  title: 'Time'
					},
					vAxis: {
					  title: 'Score'
					},
					backgroundColor: '#f1f8e9'
				  };

				  var chart = new google.visualization.LineChart(document.getElementById('examboardChart'));
				  chart.draw(data, options);
				}

		</script>
	<% } %>
	

	

<% include ./partials/footer %>