<% include ../../../../partials/header %>

<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="/admins/<%= userId %>/examboards" class="breadcrumb">Examboards</a>
            <a href="/admins/<%= userId %>/examboards/<%= examId %>/modules" class="breadcrumb"><%= examName %></a>
            <a href="" class="breadcrumb"><%= module.name %></a>
        </div>
    </div>
</nav>

<ul class="collection with-header">
    <li class="collection-header"><h2>Topics</h2></li>
    <% for(var i = 0; i < module.topics.length; i++){ %>
        <a href="/admins/<%= userId %>/examboards/<%= examId %>/modules/<%= module._id %>/topics/<%= module.topics[i]._id %>" class="collection-item"><h4><%= module.topics[i].name %></h4></a>
    <% } %>
</ul>

<% include ../../../../partials/footer %>