<% include ../../../../partials/header %>

<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="/admins/<%= data.userId %>/examboards" class="breadcrumb">Examboards</a>
            <a href="/admins/<%= data.userId %>/examboards/<%= data.examId %>/modules" class="breadcrumb"><%= data.examName %></a>
            <a href="/admins/<%= data.userId %>/examboards/<%= data.examId %>/modules/<%= data.moduleId %>" class="breadcrumb"><%= data.moduleName %></a>
            <a href="" class="breadcrumb"><%= topic.name %></a>
        </div>
    </div>
</nav>

<div class="container">
    
    <div class="row">
        <% var methodMarksHolder; %>
        <% for(var i = 0; i < topic.questions.length; i++) { %>

            <div class="col l4 m6 s12">

                <div class="card medium sticky-action">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<%= topic.questions[i].content %>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= data.topic.questions[i]._id %></span>
                    </div>
                    <div class="card-action">
                      <a href="/users/<%= data.userId %>/questions/<%= data.topic.questions[i]._id %>">Edit</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= data.topic.questions[i]._id %></span>
                        <p> 
                            <h5>Marks: <%= data.topic.questions[i].mark %></h5>
                            <hr>
                            <h5>Methods</h5>
                            <table>
                            <thead>
                                <tr>
                                    <th>Total marks</th>
                                    <th>Parts</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% for(var t = 0; t < topic.questions[i].methods.length; t++) { %>
                                        <tr>
                                            <% methodMarksHolder = 0; %>
                                            <% for(var u = 0; u < topic.questions[i].methods[t].length; u++) { %>
                                                <% methodMarksHolder += topic.questions[i].methods[t][u].mark; %>
                                            <% } %>
                                            <td><%= methodMarksHolder %></td>
                                            <td><%= data.topic.questions[i].methods[t].length %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                          </table>
                        </p>
                    </div>
              </div>

            </div>

        <% } %>

    </div>

</div>

<style>
    .card-title {
        font-size: 20px !important;
    }
</style>


<% include ../../../../partials/footer %>